#modal-confirmed {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-confirmed {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    font-size: 22px;
    position: relative;
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      padding: 2px 8px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
      color: white;
      background-color: rgb(223, 59, 59);
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1150px) {
    .modal-confirmed {
      width: 65%;
    }
  }
  @media screen and (max-width: 920px) {
    .modal-confirmed {
      font-size: 18px;
      font-weight: 500;
    }
  }
  @media screen and (max-width: 750px) {
    .modal-confirmed {
      width: 80%;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 750px) {
    .modal-confirmed {
      padding: 20px;
    }
  }
}
