#my-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgb(238, 169, 169);
  color: rgba(0, 0, 0, 0.781);
  font-weight: 600;
  .cart-icon {
    height: 22px;
    width: 22px;
  }
  .number {
    padding: 2px 6px;
    border-radius: 5px;
    background-color: rgb(223, 59, 59);
    color: white;
  }
  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  @media screen and (max-width: 600px) {
    padding: 4px 8;
    font-size: 13px;
    .cart-icon {
      height: 18px;
      width: 18px;
    }
  }
}
